### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
student = {
    "name": "Avishkar",
    "age": 21,
    "city": "Pune"
}
print(student)

{'name': 'Avishkar', 'age': 21, 'city': 'Pune'}

 2. Create a dictionary and print the value of a specific key.

In [2]:
my_dict = {
    "name": "Avishkar",
    "age": 22,
    "city": "Pune"
}
print("The name is:", my_dict["name"])

The name is: Avishkar

3.Create a list of 5 numbers and print the second element.

In [3]:
numbers=[1,2,3,4,5]
print(numbers[1])

2

4.Add an element "banana" to an existing list.

In [4]:
fruits = ["apple", "orange", "grapes"]
fruits.append("banana")
print(fruits)

['apple', 'orange', 'grapes', 'banana']

 5.Insert "apple" at index 2 in a list.

In [6]:
fruits = ["mango", "orange", "grapes", "banana"]
fruits.insert(2, "apple")
print(fruits)

['mango', 'orange', 'apple', 'grapes', 'banana']

### 6. Remove the element 10 from a list.

In [8]:
number=[5, 10, 15, 10, 20]
number.remove(10)
print(number)

[5, 15, 10, 20]

### 7. Create a tuple with 4 elements and print the last one.

In [9]:
my_tuple = (1,2,3,4,5)
print(my_tuple[-1])

5

### 8. Convert a tuple into a list.

In [11]:
my_tuple =(1,2,3,4,5)
my_list=list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

### 9. Find the length of a given tuple.

In [12]:
my_tuple =(1,2,3,4,5)
lenth =len(my_tuple)
print(lenth)

5

### 10. Store 5 student names in a list and print them using a loop.

In [37]:
student =["avishkar","bhushan","siddhi","aakash","aditi"]
for student in student:
    print(student)

avishkar
bhushan
siddhi
aakash
aditi

### 11. Create two lists and concatenate them.

In [15]:
list1=[10,20,30]
list2=[40,50,60]
combined_list=list1 + list2
print(combined_list)

[10, 20, 30, 40, 50, 60]

### 12. Reverse a list without using reverse().

In [16]:
number = [10, 20, 30, 40, 50]
reversed_list = number[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

### 13. Sort a list in descending order.

In [19]:
number= [5,2,9,1,5,6]
number.sort(reverse=True)
print(number)

[9, 6, 5, 5, 2, 1]

### 14. Create a set with 5 numbers and add a new number.

In [21]:
number={1,2,3,4,5}
number.add(6)
print(number)

{1, 2, 3, 4, 5, 6}

### 15. Remove an element from a set using discard().

In [25]:
number={1,2,3,4,5,6}
number.discard(3)
print(number)

{1, 2, 4, 5, 6}

### 16. Find the union of two sets.

In [27]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

### 17. Find the intersection of two sets.

In [28]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
intersection_set=set1.intersection(set2)
print(intersection_set)

{4, 5}

### 18. Check if a value exists in a set.

In [30]:
my_set={1,2,3,4,5}
value_to_check=3
if value_to_check in my_set:
    print(f"{value_to_check} exists in the set.")
else:
    print(f"{value_to_check} does not exist in the set.")

3 exists in the set.

### 19. Create a set and clear all elements.

In [31]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

### 20. Convert a list with duplicate values into a set.

In [32]:
my_list=[1,2,3,4,5,5,6,7,8,8]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

### 21. Create a dictionary and update the value of a key.

In [33]:
my_dict={"name":"Avishkar","age":21,"city":"Pune"}
my_dict["age"]=21
print(my_dict)

{'name': 'Avishkar', 'age': 21, 'city': 'Pune'}

### 22. Delete a key-value pair from a dictionary.

In [34]:
my_dict={"name":"Avishkar","age":21,"city":"Pune"}
del my_dict["age"]
print(my_dict)

{'name': 'Avishkar', 'city': 'Pune'}

### 23. Print all keys of a dictionary.

In [35]:
my_dict={"name":"Avishkar","age":21,"city":"Pune"}
keys=my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

### 24. Print all values of a dictionary.

In [36]:
my_dict={"name":"Avishkar","age":21,"city":"Pune"}
values=my_dict.values()
print(values)

dict_values(['Avishkar', 21, 'Pune'])

### 25. Loop through a dictionary and print key and value.

In [ ]:
my_dict={"name":"Avishkar","age":21,"city":"Pune"}
for key, value in my_dict.items():
    print(f"{key}: {value}")

name: Avishkar
age: 21
city: Pune

### 26. Create a list of numbers and print only even numbers.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numbers:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

### 27. Create a tuple and unpack it into 3 variables.

In [11]:
student = ("Avishkar",20,"Pune")
name,age,city=student
print("name:",name)
print("age:",age)
print("city:",city)

name: Avishkar
age: 20
city: Pune

### 28. Check if a number is greater than 10 using a comparison operator.

In [12]:
number=15
if number > 10:
    print("the number is greater than 10")
else:
    print("the number is not greater than 10")

the number is greater than 10

### 29. Use the in operator to check if "python" exists in a list.

In [13]:
my_list = ["java", "python", "javascript"]
if "python" in my_list:
    print("python exists in the list")
else:
    print("python does not exist in the list")

python exists in the list

### 30. Use the and operator in a condition.

In [14]:
number=10
if number >=10 and number <=20:
    print("the number is between 10 and 20")

the number is between 10 and 20

### 31. Use the % operator to check if a number is divisible by 5.

In [15]:
number=25
if number %5==0:
    print("the number is divisible by 5")
else:
    print("the number is not divisible by 5")

the number is divisible by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [16]:
result=2**5
print(result)

32

### 33. Create two numbers and compare them using >=.

In [18]:
number1=10
number2=20
if number1 >=number2:
    print("number1 is greater than or equal to number2")
else:
    print("number1 is less than number2")

number1 is less than number2

### 34. Create a list and remove the last element using pop().

In [19]:
my_list=[1,2,3,4,5]
my_list.pop()
print(my_list)

[1, 2, 3, 4]

### 35. Create a list and print its first and last elements.

In [21]:
my_list=[10,20,30,40,50]
print("first element:",my_list[0])
print("last element:",my_list[-1])

first element: 10
last element: 50

### 36. Count how many times "apple" appears in a list.

In [22]:
my_list=["apple","banana","apple","orange","grapes"]
count=my_list.count("apple")
print(count)

2

### 37. Create a tuple and check if a value exists using in.

In [23]:
my_tuple=(1,2,3,4,5)
if 3 in my_tuple:
    print("3 exists in the tuple")
else:
    print("3 does not exist in the tuple")

3 exists in the tuple

### 38. Convert a dictionaryâ€™s keys into a list.

In [24]:
my_dict={"name":"Avishkar","age":21,"city":"Pune"}
keys_list=list(my_dict.keys())
print(keys_list)

['name', 'age', 'city']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [27]:
student={
    "name": "Avishkar",
    "marks": {
        "math": 90,
        "science": 85,
        "english": 92
    },
    "subjects": ["math", "science", "english"]
}
print(student)

{'name': 'Avishkar', 'marks': {'math': 90, 'science': 85, 'english': 92}, 'subjects': ['math', 'science', 'english']}

### 40. Merge two dictionaries into one.

In [28]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 41. Create a set and print the number of elements.

In [29]:
my_set={1,2,3,4,5}
print(len(my_set))

5

### 42. Create a dictionary and print all items using items().

In [30]:
my_dict={"name":"Avishkar","age":21,"city":"Pune"}
for key, value in my_dict.items():
    print(f"{key}: {value}")

name: Avishkar
age: 21
city: Pune

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [2]:
numbers=list(range(1,11))
for num in numbers:
    print(num**2)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [3]:
num1=5
num2=4
result=num1*num2
print(result)

20

### 45. Divide two numbers and print the results using / and //.

In [4]:
num1=10
num2=3
print("division using / :",num1/num2)
print("division using //:",num1//num2)

division using / : 3.3333333333333335
division using //: 3

### 46. Create a list and replace the element at index 1.

In [5]:
numbers=[10,20,30,40,50]
numbers[1]=99
print(numbers)

[10, 99, 30, 40, 50]

### 47. Create a tuple from user input (3 values).

In [ ]:
value1=input("enter first value:")
value2=input("enter second value:")
value3=input("enter third value:")
my_tuple=(value1,value2,value3)
print("tuple is:",my_tuple)

tuple is: ('', '', '')

### 48. Create a set from a string and print all unique characters.

In [1]:
text=input("enter string:")
unique_chars=set(text)
print("unique characters are:")
for char in unique_chars:
    print(char)

unique characters are:

### 49. Use the is operator to compare two variables.

In [1]:
a=10
b=10
if a is b:
     print("a and b refer to the same object")
else:
    print("a and b do not refer to the same object")

a and b refer to the same object

### 50. Create a dictionary and check if a key exists using in.

In [10]:
my_dict={"name":"Avishkar","age":21,"city":"Pune"}
key_to_check="name"
if key_to_check in my_dict:
    print(f"{key_to_check} exists in the dictionary.")
else:
    print(f"{key_to_check} does not exist in the dictionary.")

name exists in the dictionary.

 51.Write a program to check if a number is between 10 and 50 using and.

In [5]:
number=25
if number >=10 and number <=50:
    print("the number is between 10 and 50")
else:
    print("the number is not between 10 and 50")

the number is between 10 and 50

### 52. Check if a number is less than 5 or greater than 20 using or.

In [4]:
number=10
if number <5 or number >20:
    print("the number is less than 5 or greater than 20")
else:
    print("the number is between 5 and 20 (inclusive)")

the number is between 5 and 20 (inclusive)

### 53. Use not to check if a list is not empty.

In [1]:
my_list=[1,2,3]
if not my_list:
    print("the list is empty")
else:
    print("the list is not empty")

the list is not empty

### 54. Write code to check if a character is a vowel using or.

In [ ]:
char=input("enter a character:")
if char in ['a','e','i','o','u'] or char in ['A','E','I','O','U']:
    print(f"{char} is a vowel.")
else:
    print(f"{char} is not a vowel.")

### 55. Check if a dictionary has both keys "name" and "age".

In [8]:
my_dict={"name":"avishkar","age":21,"city":"pune"}
if "name" in my_dict and "age" in my_dict:
    print("The dictionary has both keys 'name' and 'age'.")
else:
    print("The dictionary does not have both keys 'name' and 'age'.")

The dictionary has both keys 'name' and 'age'.

### 56. Verify if a set contains either 10 or 20.

In [7]:
my_set={1,2,3,4,5,10}
if 10 in my_set or 20 in my_set:
    print("The set contains either 10 or 20.")
else:
    print("The set does not contain either 10 or 20.")

The set contains either 10 or 20.

### 57. Use not to check if a number is not equal to 100.

In [6]:
num=50
if not(num==100):
    print("number is not equal to 100")
else:
    print("number is equla to 100")

number is not equal to 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [5]:
marks =40
attendance=80
if marks > 35 and attendance >75:
    print("The student passed.")
else:
    print("The student did not pass.")

The student passed.

### 59. Use logical operators to check if a number is positive and even.

In [4]:
number = 10
if number > 0 and number % 2== 0:
    print(f"{number} is positive and even.")
else:
    print(f"{number} is not positive and even.")

10 is positive and even.

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [3]:
my_tuple=(1,2,3,4,5)
if len(my_tuple)>3 or 0 in my_tuple:
    print("the tuple has more than 3 elements or contains the value 0")

the tuple has more than 3 elements or contains the value 0