# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [2]:
numbers=[10,20,30,40,50]
numbers.append(60)
print(numbers)

[10, 20, 30, 40, 50, 60]

2. Make a list of fruits and insert a fruit at the second position.

In [4]:
fruits=['apple','banana','cherry','mango']
fruits.insert(1,'orange')
print(fruits)

['apple', 'orange', 'banana', 'cherry', 'mango']

3. Create a list of names and remove one name from the list.

In [5]:
fruits=['apple','banana','cherry','mango']
fruits.remove('banana')
print(fruits)

['apple', 'cherry', 'mango']

4. Create a list of 4 items and change the value at index 2.

In [6]:
items=['pen','pencil','eraser','notebook']
items[2]='marker'
print(items)

['pen', 'pencil', 'marker', 'notebook']

5. Make a list of numbers and print only the first three elements.

In [7]:
numbers=[10,20,30,40,50]
print(numbers[:3])

[10, 20, 30]

6. Create a list of colors and find the index of a specific color.

In [8]:
colors=['red','yellow','green','blue','pink','purple']
index_value=colors.index('blue')
print("index of blue is:",index_value)

index of blue is: 3

7. Create a list of 10 numbers and print how many times “5” appears.

In [9]:
numbers=[5,2,5,8,1,5,7,3,5,9]
count_5=numbers.count(5)
print("count of 5 is:",count_5)

count of 5 is: 4

8. Make a list of 6 items and delete the item at index 3.

In [10]:
items=['pen','pencil','eraser','notebook','marker','stapler']
del items[3]
print(items)

['pen', 'pencil', 'eraser', 'marker', 'stapler']

9. Create a list of animals and add three more animals using extend().

In [11]:
animals=['cat','dog','rabbit','lion','tiger']
animals.extend(['elephant','giraffe','zebra'])
print(animals)

['cat', 'dog', 'rabbit', 'lion', 'tiger', 'elephant', 'giraffe', 'zebra']

10. Create a list and remove the last item using pop().

In [12]:
animals=['cat','dog','rabbit','lion','tiger']
animals.pop()
print(animals)

['cat', 'dog', 'rabbit', 'lion']

11. Create a list of prices and sort them in ascending order.

In [14]:
prices=[450,120,999,250,75]
prices.sort()
print(prices)

[75, 120, 250, 450, 999]

12. Make a list of countries and reverse the order of the list.

In [15]:
countries = ["india","usa","japan","germany","brazil"]
countries.reverse()
print(countries)

['brazil', 'germany', 'japan', 'usa', 'india']

13. Create a list of words and check if “apple” is in the list.

In [17]:
fruits=['apple','banana','cherry','mango']
if 'apple' in fruits:
    print("apple is in the list")
else:
    print("apple is not in the list")

apple is in the list

14. Create a list of numbers and print the largest and smallest number.

In [19]:
numbers=[55,23,78,12,34,3,89,45,10]
largest=max(numbers)
smallest=min(numbers)
print('largest number:',largest)
print('smallest number :',smallest)

largest number: 89
smallest number : 3

15. Make a list of 5 items and print each item using a loop.

In [21]:
items=['pen','pencil','notebook','marker','stapler']
for item in items:
    print(item)

pen
pencil
notebook
marker
stapler

16. Create two lists and combine them into one list.

In [22]:
list1=[1,2,3]
list2=[4,5,6]
combined_list=list1+list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

17. Make a list and replace the last item with a new value.

In [23]:
items=['pen','pencil','notebook','marker','stapler']
items[-1]='eraser'
print(items)

['pen', 'pencil', 'notebook', 'marker', 'eraser']

18. Create a list of numbers and print only the even numbers.

In [24]:
numbers=[10,15,20,25,30,35,40,45,50]
for num in numbers:
    if num %2==0:
        print(num)

10
20
30
40
50

19. Create a list and clear all items from the list.

In [25]:
items=['pen','pencil','notebook','marker','stapler']
items.clear()
print(items)

[]

20. Create a list of 5 values and copy it into another list.

In [26]:
list1=[1,2,3,4,5,6]
list2=list1.copy()
print("original List:", list1)
print("copied List:", list2)

original List: [1, 2, 3, 4, 5, 6]
copied List: [1, 2, 3, 4, 5, 6]